body{
    max-width: 1600px;
}
div{
    max-width: 1600px;
}
img.logo {
    width: 80px;
    max-width: 1600px;
    padding: 15px;
}
header  {
    max-width: 1600px;
    background-color:rgba(20,30,13, .7);
}
header a:hover{
    background-color: #d9c2a3  ;
    color: black
}
nav a{
    padding: 15px 15px;
    color: white;
    text-decoration: none
}
div1 img {
    width: 1333px;
    margin: 0 auto;
}
section1 {
    text-align: center;
}
section1 h1 {
    color: #d9c2a3;
    font-family:'jokerman';
    font-size: 50px;
}
section1 h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 20px;
}
a.book {
    color: black;
    background-color: #d9c2a3;
    padding: 15px;
    border-radius: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-decoration: none
}
main {
    text-align: center;
}
img.icon {
    width: 10%;
    margin-left: 10px;
}
img.card{
    border: 4px solid #d9c2a3;
    margin-top: 7%;
    margin-bottom: 0%;
}
main h2 {
    margin-bottom: 100px;
    border-bottom:1px solid rgb(170, 170, 170) ;
}
img.mountains {
    margin-top: 50px;
}
a.join {
    color: black;
    background-color: #d9c2a3;
    padding: 5px;
    border-radius: 10%;
    text-decoration: none
}
section1 a:hover{
    padding: 15px 10px;
    background-color: #d9c2a3  ;
    text-decoration: none
}
footer {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color:rgba(20,30,13, .7);
    color: bisque;
    font-family:'arial';
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer h2,p{
    color: white;
}
footer a{
    color: bisque;
    text-decoration: none
}
footer a:hover{
    background-color: #d9c2a3  ;
    color: black
}
footer h3,footer div {
    text-align: left;
}
main {
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 500px solid #d9c2a3;
}
footer{
    margin: 180px 0px;
}