@font-face {
    font-family: Monserrat;
    src: url(Montserrat-Variable.ttf);

}

body{
    max-width: 1200px;
}

header{

    padding-bottom: 10px;
    max-width: 1200px;
}
.Logo_home{
    background-color: #0cccc679;
    width: 50px;
    padding-right: 1115px;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 10px;
    position: sticky;
    top: 0px;
}

#banner {
    width: 100px;
    display: grid;
    margin-top: -140px; 
}
#banner-img {
    max-width: 1200px;
}

#banner-msg{
    grid-column: 2/3;;
    grid-row: 1/2;
    margin-top: 400px;
    text-align: center;
}

section h1{
    width: 1200px;
    color: #03284F;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 80px;
    margin-top: -250px;
    padding-bottom: 80px;
}
section h4{
    width: 1200px;
    color: #03284F;
    text-align: center;
    margin-top: -90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

#banner-box {
    width: 1200px;
    display: grid;
    margin-top: 0px;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

nav {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 50px;
    position: sticky;
    top:0
}

nav a{
    text-align: center;
    margin-top: -150px;
    padding:15px 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px 80px;
    text-decoration: none
}

nav a:hover{
    background-color: #03284F;
}
.home-grid{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-items: center;
    grid-gap: 20px;
    padding: 0px 50px;
    text-align: left;
    padding-bottom: 30px;
}

.home-grid h2{
    color: #03284F;
    font-size: 20px;
    text-align: center;
    font-family: 'Cinzel', serif;
}
.home-grid p{
    color: black;
    font-size: 15px;
}
.card-intro{
    width: 320px;
    border: 4px solid #0cccc6;
}
.card-health{
    width: 340px;
    border: 4px solid #0cccc6;
}
.card-service{
    width: 300px;
    border: 4px solid #0cccc6;
}
.msg{
    width: 300px;
    margin-top: -450px;
    margin-left: 650px;
    display: grid;
}

#background{
    width: 40px;
    background-color: #797f7e46;
    padding-left: 50px;
    padding-right: 1100px;
    padding-top: 30px;
    padding-bottom: 40px;
}
aside{
    text-align: center;
    width: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #CBEF43;
    border-radius: 8PX;
    margin-bottom: 100px;
}
aside h2{
    color: #03284F;
    font-size: 30px;
    
}
aside p{
    color: #03284F;
   font-size: 18px;
}
.msg h2{
text-align: center;
color: #03284F;
}
.contact{
    background-color: #0cccc6;
    color: white;
    padding: 10px 15px;
    border-radius: 10%;
    text-decoration: none
}
.contact:hover{
    background-color: #03284F;
}

footer  {
    margin-top: 400px;
    color: white;
    display: grid;
    width: 1200px;
    margin-top: 10px;
    padding-left: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
    background-color: #0cccc6;
}
.social{
    display: grid;
    text-align: center;
    margin-left: 10px; 
    grid-template-columns: 50px 50px 50px;
    justify-items: center;
    grid-gap: 10px;
    background-color: #0cccc6;
    width: 100%;
}
.social img{
   margin-top: 10px;
   width: 50px;
}

footer h2:hover{
    background-color: #03284F;
}

footer a{
    font-size: 18px;
    padding: 5px 5px;
    display:grid;
    width: 100px;
    color: white;
    text-decoration: none
}